.form-container {
  display: flex;
  gap: 20px; /* Espacio entre las columnas */
}

.form-column {
  flex: 1; /* Cada columna ocupa el mismo espacio */
}

.form-actions {
  text-align: right;
  margin-top: 20px;
}

h1{
  text-align: center;
}

