<div [ngClass]="sizeClass">
  <div class="titulo-modal">
    <h1>{{data.tituloModal}}</h1>
    <button mat-raised-button color="warn" (click)="close()">Cerrar</button>
  </div>


  <div [ngSwitch]="data.contentType">
    <div *ngSwitchCase="'editarCuenta'">
      <app-editar-cuenta></app-editar-cuenta>
    </div>
    <div *ngSwitchCase="'agregarCuenta'">
      <app-agregar-cuenta></app-agregar-cuenta>
    </div>
    <div *ngSwitchCase="'informacionCuenta'">
      <app-informacionCuenta></app-informacionCuenta>
    </div>
    <div *ngSwitchCase="'editarPerfil'">
      <app-editar-perfil></app-editar-perfil>
    </div>
    <div *ngSwitchCase="'crearCliente'" >
      <app-crear-cliente></app-crear-cliente>
    </div>
    <div *ngSwitchCase="'editarCliente'" >
      <app-editar-cliente></app-editar-cliente>
    </div>
    <div *ngSwitchCase="'verCliente'" >
      <app-ver-cliente></app-ver-cliente>
    </div>
    <div *ngSwitchDefault>Default Content</div>
  </div>

</div>


