<!-- Modal para editar la información del cliente seleccionado usando Angular Material -->
<div class="modal-backdrop">
  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title"> <strong>Editar Información de la Quesera</strong></h1>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSave()">
            <mat-card>
              <mat-card-content>
                <mat-form-field appearance="fill" class="mb-3">
                  <mat-label>Nombre</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="clienteSelected.str_cliente_nombre"
                    name="nombre"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3">
                  <mat-label>Dirección</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="clienteSelected.str_cliente_direccion"
                    name="direccion"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3">
                  <mat-label>Teléfono</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="clienteSelected.str_cliente_telefono"
                    name="telefono"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3">
                  <mat-label>RUC</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="clienteSelected.str_cliente_ruc"
                    name="ruc"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3">
                  <mat-label>Correo</mat-label>
                  <input
                    matInput
                    type="email"
                    [(ngModel)]="clienteSelected.str_cliente_correo"
                    name="correo"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3">
                  <mat-label>Usuario</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="clienteSelected.str_cliente_usuario"
                    name="usuario"
                    required
                  />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mb-3">
                  <mat-label>Contraseña</mat-label>
                  <input
                    matInput
                    type="password"
                    [(ngModel)]="clienteSelected.str_cliente_password"
                    name="password"
                    required
                  />
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">
                  Guardar
                </button>
              </mat-card-actions>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
