<div class="loader-container" *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div class="botones-info-cuenta">

    <!-- Botón para mostrar u ocultar el formulario -->
    <button (click)="toggleFormulario()" class="">
        {{ mostrarFormulario ? 'Ocultar Formulario' : 'Agregar Saldo' }}
    </button>
    <!-- Boton para editar un saldo mostrando un formulario -->
    <button (click)="toggleEditarSaldo()" class="">
        {{ editarSaldo ? 'Ocultar Formulario' : 'Editar un Saldo' }}
    </button>
    <!-- Boton para buscar un saldo -->
    <button (click)="toggleBuscarSaldo()" class="">
        {{ buscarSaldof ? 'Ocultar Formulario' : 'Buscar un Saldo' }}
    </button>
</div>
<div class="container" *ngIf="!isLoading && !mostrarFormulario && !editarSaldo && !buscarSaldof">
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" [(ngModel)]="fechaInicio">
      <input matEndDate placeholder="End date" [(ngModel)]="fechaFin">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div *ngIf="data">
    <h2>Resumen</h2>
    <table class="summary-table">
      <tr>
        <th>Total Debe:</th>
        <td>{{ data.body.resumen.totalDebe | currency }}</td>
      </tr>
      <tr>
        <th>Total Haber:</th>
        <td>{{ data.body.resumen.totalHaber | currency }}</td>
      </tr>
      <tr>
        <th>Balance:</th>
        <td>{{ (data.body.resumen.totalDebe - data.body.resumen.totalHaber) | currency }}</td>
      </tr>
    </table>

    <h2>Detalle de Movimientos</h2>
    <table class="details-table" *ngIf="data.body.detalles.length">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Debe</th>
          <th>Haber</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movimiento of data.body.detalles">
          <td>{{ movimiento.fecha | date:'shortDate' }}</td>
          <td>{{ movimiento.descripcion }}</td>
          <td>{{ movimiento.debe ? (movimiento.debe | currency) : '' }}</td>
          <td>{{ movimiento.haber ? (movimiento.haber | currency) : '' }}</td>
          <td>
            <button (click)="openModal(movimiento)">Ver Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="data.body.detalles.length==0">No se encontraron detalles para esta Cuenta</div>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal" [ngClass]="{'show': isModalOpen}">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Detalle</h2>
      <table class="inner-table">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Código</th>
            <th>Tipo</th>
            <th>Monto</th>
            <th>Fecha Creación</th>
            <th>Fecha Actualización</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of selectedMovimiento?.otrosMovimientos">
            <td>{{ detalle.str_detalle_libro_diario_nombre_cuenta }}</td>
            <td>{{ detalle.str_detalle_libro_diario_codigo_cuenta }}</td>
            <td>{{ detalle.str_detalle_libro_diario_tipo }}</td>
            <td>{{ detalle.dc_detalle_libro_diario_monto | currency }}</td>
            <td>{{ detalle.dt_fecha_creacion | date:'short' }}</td>
            <td>{{ detalle.dt_fecha_actualizacion | date:'short' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<form [formGroup]="saldoForm" (ngSubmit)="agregarSaldo()" *ngIf="mostrarFormulario">
    <label for="cuenta">Cuenta ID:</label>
    <input id="cuenta" type="number" formControlName="int_cuenta_id" class="readonly" readonly>
  
    <label for="mes">Mes:</label>
    <input id="mes" type="number" formControlName="mes" min="1" max="12">
  
    <label for="anio">Año:</label>
    <input id="anio" type="number" formControlName="anio" min="1900" max="2099">
  
    <label for="saldoDeudora">Saldo Deudora:</label>
    <input id="saldoDeudora" type="number" formControlName="dec_saldo_deudora" min="0">
  
    <label for="saldoAcreedora">Saldo Acreedora:</label>
    <input id="saldoAcreedora" type="number" formControlName="dec_saldo_acreedora" min="0">
  
    <label for="saldoAnteriorDebito">Saldo Anterior Débito:</label>
    <input id="saldoAnteriorDebito" type="number" formControlName="dec_saldo_anterior_debito" min="0">
  
    <label for="saldoAnteriorCredito">Saldo Anterior Crédito:</label>
    <input id="saldoAnteriorCredito" type="number" formControlName="dec_saldo_anterior_credito" min="0">
  
    <button type="submit" [disabled]="saldoForm.invalid">Agregar Saldo</button>
</form>

<!-- Buscar un saldo de cuenta por id cuenta, anio y mes -->
<form [formGroup]="buscarSaldoForm" (ngSubmit)="buscarSaldo()" *ngIf="buscarSaldof">
    <label for="cuenta">Cuenta ID:</label>
    <input id="cuenta" type="number" formControlName="int_cuenta_id" class="readonly" readonly>
  
    <label for="mes">Mes:</label>
    <input id="mes" type="number" formControlName="mes" min="1" max="12">
  
    <label for="anio">Año:</label>
    <input id="anio" type="number" formControlName="anio" min="1900" max="2099">
  
    <button type="submit" [disabled]="buscarSaldoForm.invalid">Buscar Saldo</button>
</form>


<!-- Editar un saldo de un mes y año especifico -->

<div *ngIf="editarSaldo">
  <form [formGroup]="saldoForm" (ngSubmit)="editarSaldoF()">
    <label for="cuenta">Cuenta ID:</label>
    <input id="cuenta" type="number" formControlName="int_cuenta_id" class="readonly" readonly>
  
    <label for="mes">¿En qué mes está el saldo?:</label>
    <input id="mes" type="number" formControlName="mes" min="1" max="12">
  
    <label for="anio">¿De qué año es el saldo?</label>
    <input id="anio" type="number" formControlName="anio" min="1900" max="2099">
  
    <label for="saldoDeudora">Nuevo Saldo Deudora:</label>
    <input id="saldoDeudora" type="number" formControlName="dec_saldo_deudora" min="0">
  
    <label for="saldoAcreedora">Nuevo Saldo Acreedora:</label>
    <input id="saldoAcreedora" type="number" formControlName="dec_saldo_acreedora" min="0">
  
    <label for="saldoAnteriorDebito"> NUevo Saldo Anterior Débito:</label>
    <input id="saldoAnteriorDebito" type="number" formControlName="dec_saldo_anterior_debito" min="0">
  
    <label for="saldoAnteriorCredito">Nuevo Saldo Anterior Crédito:</label>
    <input id="saldoAnteriorCredito" type="number" formControlName="dec_saldo_anterior_credito" min="0">
  
    <button type="submit" [disabled]="saldoForm.invalid">Editar Saldo del mes y año seleccionado</button>
  </form>


</div>
  
