<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>
<div class="container">
  <!-- Botón para agregar cliente -->
  <button mat-raised-button color="secundary" (click)="openModal()">Agregar Quesera</button>

  <!-- Tabla de Clientes -->
  <div class="container_table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of paginatedClientes; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ cliente.str_cliente_nombre }}</td>
          <td>{{ cliente.str_cliente_direccion }}</td>
          <td>{{ cliente.str_cliente_telefono }}</td>
          <td class="acciones">
            <button class="btn-accion" (click)="openModal2(cliente)">
              <span class="material-symbols-outlined">visibility</span>
            </button>
            <button class="btn-accion" (click)="editCliente(cliente)">
              <span class="material-symbols-outlined">edit</span>
            </button>
            <!-- <button class="btn-accion" (click)="deleteCliente(cliente)">
              <span class="material-symbols-outlined">delete</span>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Paginación -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <!-- Pagina -->
      <li>
        <a class="page-link">Página {{ currentPage }} de {{ totalPages }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="previousPage()">Anterior</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()">Siguiente</a>
      </li>
      <!-- Total -->
      <li class="page-item">
        <a class="page-link">Total: {{ totalClientes }}</a>
      </li>
    </ul>
  </nav>



<!-- Modal para mostrar la información completa en una tabla del cliente seleccionado -->
<div class="modal-backdrop" [class.show]="isModalOpen2">
  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Informacion del Cliente</h5>
          <button type="button" class="btn-close" (click)="closeModal2()">
            &times;
          </button>
          <!-- Boton de cerrar -->
        </div>
        <div class="modal-body">
          <table class="table-ver">
            <tbody>
              <tr>
                <td><strong>Nombre:</strong></td>
                <td>{{ clienteSelected.str_cliente_nombre }}</td>
              </tr>
              <tr>
                <td><strong>Direccion:</strong></td>
                <td>{{ clienteSelected.str_cliente_direccion }}</td>
              </tr>
              <tr>
                <td><strong>Telefono:</strong></td>
                <td>{{ clienteSelected.str_cliente_telefono }}</td>
              </tr>
              <tr>
                <td><strong>RUC:</strong></td>
                <td>{{ clienteSelected.str_cliente_ruc }}</td>
              </tr>
              <tr>
                <td><strong>Correo:</strong></td>
                <td>{{ clienteSelected.str_cliente_correo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




</div>
